#messages_page
  %h1 Raw Data
  
  #pagination_controls
    -if @page == 1
      .plink
        <<
      .plink
        <
    -else
      .plink
        = link_to "<<", messages_path(:page => 1)
      .plink
        = link_to "<", messages_path(:page => @page - 1)
    = "page #{@page} of #{@pages}"
    - if @page == @pages
      .plink
        >
      .plink
        >>
    - else
      .plink
        = link_to ">", messages_path(:page => @page + 1)
      .plink
        = link_to ">>", messages_path(:page => @pages)
  
  = render 'data_table'