#messages_page
  %h1 Raw Data
  
  #pagination_controls
    -if @page == 1
      .plink
        <<
      .plink
        <
    -else
      .plink
        = link_to "<<", vulnerability_path(:id => @vulnerability.id, :page => 1)
      .plink
        = link_to "<", vulnerability_path(:id => @vulnerability.id, :page => @page - 1)
    = "page #{@page} of #{@pages}"
    - if @page == @pages
      .plink
        >
      .plink
        >>
    - else
      .plink
        = link_to ">", vulnerability_path(:id => @vulnerability.id, :page => @page + 1)
      .plink
        = link_to ">>", vulnerability_path(:id => @vulnerability.id, :page => @pages)
  
  = render 'data_table'