#vul_page
  %h1
    Vulnerability Statistics
  #new_vul_link
    = link_to "New Vulnerability", new_vulnerability_path
  %ul#vuls
    .count
      %b
        Count
    - @vulnerabilities.each do |vulnerability|
      %li.vul
        = vulnerability.messages.count
        &nbsp;&nbsp;
        %a{ :href => vulnerability_path(vulnerability) }
          = vulnerability.name + " (id: #{vulnerability.id})"
        .vul_links
          = link_to 'Edit', edit_vulnerability_path(vulnerability)
          |
          = link_to 'Clear', clear_path(:id => vulnerability.id), confirm: 'Are you sure you want to clear all data for this vulnerability?'
          |
          = link_to 'Delete', vulnerability, confirm: 'Are you sure you want to delete this vulnerability and all its data?', method: :delete