#vul_page
  %h1
    Vulnerability Statistics
  #new_vul_link
    = link_to "New Vulnerability", new_vulnerability_path
  %table
    %tr
      %th Uniq Pgs
      %th Uniq Dmns
      %th Name
      %th 
      %th
      %th
    - @vulnerabilities.each do |vul|
      %tr
        %td.short= vul.messages.reject { |m| m.crawler }.collect { |m| m.hash }.uniq.count
        %td.short= vul.messages.reject { |m| m.crawler }.collect { |m| URI.parse(m.url).host }.uniq.count
        %td.long
          %a{ :href => vulnerability_path(vul) }
            = vul.name + " (id: #{vul.id})"
        %td.short= link_to 'Edit', edit_vulnerability_path(vul)
        %td.short= link_to 'Clear', clear_path(:id => vul.id), confirm: 'Are you sure you want to clear all data for this vulnerability?'
        %td.short= link_to 'Delete', vul, confirm: 'Are you sure you want to delete this vulnerability and all its data?', method: :delete
  #other_stats
    %h2
      Other Stats
    = "Unique secure pages that set a non-secure cookie: #{@cookies1.collect { |m| m.hash }.uniq.count}"
    %br
    = "Unique secure domains that set a non-secure cookie: #{@cookies1.collect { |m| URI.parse(m.url).host }.uniq.count}"
    %br
    = "Unique non-secure pages that set a secure cookie: #{@cookies2.collect { |m| m.hash }.uniq.count}"
    %br
    = "Unique non-secure domains that set a secure cookie: #{@cookies2.collect { |m| URI.parse(m.url).host }.uniq.count}"
    